
    .poppin {
      font-family: 'poppins-regular', sans-serif;
    }

    p,label, button {
      font-family: 'poppins-regular', sans-serif !important;  
    }

    .card-1{
      position: relative;
      margin: .3rem 0 0.3rem 0;
      background-color: #fff;
      transition: -webkit-box-shadow .25s;
      box-shadow: 3px 2px 11px 0px rgba(229,201,201,0.75);
      -webkit-box-shadow: 3px 2px 11px 0px rgba(229,201,201,0.75);
      -moz-box-shadow: 3px 2px 11px 0px rgba(229,201,201,0.75);
    }

    .row {
      margin:0px;
    }

    .card {
      border:none;
      margin-left: -1px;
      margin-right: -1px;
    }

    .card-body {
      padding:5px 5px;
    }

   
    hr {
      margin-top: 7px !important;
      margin-bottom: 7px !important;
    }

    .collapsible .collapsible-body{
      padding:3px;
    }

    .col {
      padding: 0px 5px;
    }

    a:hover {
      text-decoration: none;
    }

    .header-tab {
      border:2px solid #EEF2F6; box-shadow: none;background-color: #FADBD8;padding-top: 8px;padding-bottom: 8px;border-bottom: 0px;
    }

    .accord-tab {
      margin-left: 1px;margin-right: 2px; margin-top: -1px; border:2px solid #EEF2F6; box-shadow: none;border-top:0px;
    }

    .white-color {
      background-color: white !important;
    }

    .dummy-color {
      background-color: #EEF2F6 !important;
    }

    .card-header {
      padding:11px 8px;
      background-color: transparent; !important;
    }

    .arrow-color {
      color: #52BE80 !important;
    }

    .pd-2 {
      padding:2px 2px;
    }




    @media only screen 
      and (min-width: 320px)  
      and (max-width: 374px){
        /* Very Small Screens */

      .v-title {
        font-size: 15px;font-weight: bold;color: black;padding-left: 8px;
      }

      div.options > label > input {
          visibility: hidden;
      }

      div.options {
        margin-left: 18px;
      }

      div.options > label {
          display: block;
          margin: 0 0 0 -10px;
          padding: 0 0px 5px 0; 
          margin-left: 10px; 
          font-size:14px;
      }

      div.options > label > img {
          display: inline-block;
          padding: 0px;
          height:18px;
          width:18px;
          margin-left: -50px;
          border-radius: 50%;
          background: white;
          border:0.2px solid silver;
          padding: 8px 8px;
      }

      div.options > label > input:checked +img {  
          background: url('../img/tick.png');
          background-repeat: no-repeat;
          background-position:center center;
          background-size:14px 14px;
          background-color: orange;
          border: none;
      }

      .small-font {
        font-size: 13px;
        color:black;
        
      }

      .card-title {
        font-size: 14px;font-weight: 650;color: #2C3E50;padding-top: 12px;
      }

      /*single button */
      .card-border {
        border-radius: 10px;border:0px;height: 50px;
      }

      .card-label {
        font-size: 11px;font-weight: bold;color: #212F3D;
      }

      .content-padding {
        padding: 5px 5px;padding-top: 10px;
      }

      /* double line button */
      .content-padding-1 {
        padding: 3px 5px;padding-top: 10px;
      }

      .card-header {
        padding:11px 8px;
        background-color: transparent; !important;
      }

    }

   
    @media only screen 
      and (min-width: 375px) 
      and (max-width: 424px)  {
        /* Small Screens */

      .v-title {
        font-size: 16px;font-weight: bold;color: black;
      }

      div.options > label > input {
          visibility: hidden;
      }

      div.options {
        margin-left: 19px;
      }

      div.options > label {
          display: block;
          margin: 0 0 0 -10px;
          padding: 0 0px 5px 0; 
          margin-left: 10px; 
          font-size:15px;
      }

      div.options > label > img {
          display: inline-block;
          padding: 0px;
          height:24px;
          width:24px;
          margin-left: -50px;
          border-radius: 50%;
          background: white;
          border:0.2px solid silver;
          padding: 8px 8px;
      }

      div.options > label > input:checked +img {  
          background: url('../img/tick.png');
          background-repeat: no-repeat;
          background-position:center center;
          background-size:18px 18px;
          background-color: orange;
          border: none;
      }

      .small-font {
        font-size: 15px;
        color:black;
        
      }

      .card-title {
        font-size: 16px;font-weight: 650;color: #2C3E50;padding-top: 12px;
      }

      /*single button */
      .card-border {
        border-radius: 10px;border:0px;height: 50px;
      }

      .card-label {
        font-size: 13px;font-weight: bold;color: #212F3D;
      }

      .content-padding {
        padding: 5px 5px;padding-top: 15px;
      }

      /* double line button */
      .content-padding-1 {
        padding: 3px 5px;padding-top: 5px;
      }

      .card-header {
        padding:12px 8px;
        background-color: transparent; !important;
      }


    }

    /* Portrait */
    @media only screen 
      and (min-width: 425px)  {
        /* Large Screens */

      .v-title {
        font-size: 18px;font-weight: bold;color: black;
      }

      div.options > label > input {
          visibility: hidden;
      }

      div.options {
        margin-left: 20px;
      }

      div.options > label {
          display: block;
          margin: 0 0 0 -10px;
          padding: 0 0px 5px 0; 
          margin-left: 10px; 
      }

      div.options > label > img {
          display: inline-block;
          padding: 0px;
          height:24px;
          width:24px;
          margin-left: -50px;
          border-radius: 50%;
          background: white;
          border:0.2px solid silver;
          padding: 8px 8px;
      }

      div.options > label > input:checked +img {  
          background: url('../img/tick.png');
          background-repeat: no-repeat;
          background-position:center center;
          background-size:18px 18px;
          background-color: orange;
          border: none;
      }

      .small-font {
        font-size: 16px;
        color:black;
       
      }

      .card-title {
        font-size: 17px;font-weight: 650;color: #2C3E50;padding-top: 12px;
      }

      /*single button */
      .card-border {
        border-radius: 10px;border:0px;height: 50px;
      }

      .card-label {
        font-size: 13px;font-weight: bold;color: #212F3D;
      }

      .content-padding {
        padding: 5px 5px;padding-top: 15px;
      }

      /* double line button */
      .content-padding-1 {
        padding: 3px 5px;padding-top: 3px;
      }

      .card-header {
        padding:13px 8px;
        background-color: transparent; !important;
      }

    }